*{
    margin: 0px;
    padding: 0px;
    text-align: center;
}

h1{
    background-color: rgb(255, 123, 0);
    color: aqua;
    height: 3rem;
    line-height: 3rem;
}

.choice{
    align-items: center;
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

.choice:hover{
    cursor: pointer;
    background-color: #ffa434;
}

img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    gap: 5rem;
}

#user-score, #computer-score{
    font-size: 4rem;
}

#user-name, #computer-name{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

.msg-container{
    margin-top: 7rem;
}

#msg{
    background-color: rgb(255, 208, 0);
    color: rgb(30, 101, 105);
    font-size: 2rem;
    display: inline;
    padding: 1px;
    border-radius: 1px;
}